@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	outline: none;
}
body {
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
}
.container {
    background-color: #fff;
    margin: 0 auto;
    padding: 40px;
    width: 400px;
}
h1 {
    color: #666;
    margin: 0;
    padding: 0 0 50px 0;
}
label{
	 font-size: 18px;
    font-weight: 400; 
    margin: 10px 0px;
    padding: 0; 
    text-transform: uppercase;
}
input[type="file"] {
  cursor: pointer !Important;
}
input[type="file"]::-webkit-file-upload-button {
  background: #E62163;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: .2em;
}
input[type="file"]::-ms-browse {
  background: #E62163;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: .2em;
}
img {
  max-width: 300px; 
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

@supports (object-fit: cover) {
  img {
    width: 300px; 
    object-fit: cover;
  }
} 
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase; 
	 text-decoration:none;
} 
.bottom_btn:hover{
	background-color: #333;
	color: #FFF; 
	text-decoration: underline;
}